/* ====== Google Fonts ====== */
/* ====== Google Fonts ====== */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');




/* ====== Reset & Universal ====== */
/* ====== Reset & Universal ====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

/* ====== Webkit Scroll Bar ====== */
/* ====== Webkit Scroll Bar ====== */

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--healing-green-50);
}



/* ====== HTML & BODY ====== */
/* ====== HTML & BODY ====== */

html,
body {
    width: 100%;
    height: 100%;
    background: var(--osler-gray-white);
    scroll-behavior: smooth;
}




/* ====== Selection ====== */
/* ====== Selection ====== */

::selection {
    background-color: var(--healing-green-40);
}




/* ====== Variables ====== */
/* ====== Variables ====== */

:root {

    /* ====== Osler ====== */

    --osler-gray-100: #111A14;
    --osler-gray-90: #1E2721;
    --osler-gray-80: #2F3C33;
    --osler-gray-70: #48524B;
    --osler-gray-60: #647067;
    --osler-gray-50: #849087;
    --osler-gray-40: #A2A9A4;
    --osler-gray-30: #C5C8C6;
    --osler-gray-20: #E3E4E3;
    --osler-gray-10: #F5F5F5;
    --osler-gray-white: #FFFFFF;

    /* ====== Primary ====== */

    --primary-color: #BF3939;

    /* ====== Secondry ====== */

    --secondry-color: #18303E;

    /* ====== Remote Red ====== */

    --remote-red-100: #4C050B;
    --remote-red-90: #88131F;
    --remote-red-80: #9F1222;
    --remote-red-70: #BE1229;
    --remote-red-60: #E11D3A;
    --remote-red-50: #F43F5E;
    --remote-red-40: #FB7185;
    --remote-red-30: #FDA4B0;
    --remote-red-20: #FECDD3;
    --remote-red-10: #FFE4E7;

    /* ====== Sunshine Yellow ====== */

    --sunshine-yellow-100: #422006;
    --sunshine-yellow-90: #713F12;
    --sunshine-yellow-80: #854D0E;
    --sunshine-yellow-70: #A16207;
    --sunshine-yellow-60: #CA8A04;
    --sunshine-yellow-50: #EAB308;
    --sunshine-yellow-40: #FACC15;
    --sunshine-yellow-30: #FDE047;
    --sunshine-yellow-20: #FEF08A;
    --sunshine-yellow-10: #FEF9C3;

    /* ====== Caring Violet ====== */

    --caring-violet-100: #311065;
    --caring-violet-90: #491D95;
    --caring-violet-80: #5521B6;
    --caring-violet-70: #6328D9;
    --caring-violet-60: #733AED;
    --caring-violet-50: #8B5CF6;
    --caring-violet-40: #A98AF966;
    --caring-violet-30: #C4B5FD;
    --caring-violet-20: #DDD6FE;
    --caring-violet-10: #EDE9FE;

    /* ====== Connectivity Blue ====== */

    --connectivity-blue-100: #172554;
    --connectivity-blue-90: #1E3A8A;
    --connectivity-blue-80: #1E40AF;
    --connectivity-blue-70: #1D4ED8;
    --connectivity-blue-60: #3B82F6;
    --connectivity-blue-50: #60A5FA;
    --connectivity-blue-40: #93C5FD;
    --connectivity-blue-30: #BFDBFE;
    --connectivity-blue-20: #DBEAFE;
    --connectivity-blue-10: #EFF6FF;

}




/* ====== Components ====== */
/* ====== Components ====== */

/* ====== Button ====== */

.btn {

    /* layout */
    padding: 20px 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    /* style */

    border-radius: 24px;
    background: var(--primary-color);

    color: var(--osler-gray-white, #FFF);
    font-size: 18px;
}

/* ====== Small Text ====== */

.small__text {
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

/* ====== Paragraph ====== */

.paragraph {
    color: var(--secondry-color);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 38.4px */
    letter-spacing: -0.24px;
    max-width: 480px;
}

/* ====== Heading ====== */

.heading {
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    /* 113.333% */
    letter-spacing: -1.8px;
    max-width: 680px;

    >span {
        color: var(--healing-green-50, #84CC16);
    }
}

/* ====== Button 2 ====== */

.btn-2 {
    padding: 16px 24px;

    border-radius: 18px;
    color: var(--osler-gray-80, #2F3C33);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid var(--osler-gray-60, #647067);
}

/* ====== Footer Icon ====== */

.footer__icon {
    transition: .3s border;
}


.active__drop__section {
    transition: .3s;
    transform: scale(1);
    opacity: 1;
}

.section {
    padding: 0 6vw;
}




/* ====== Header Section ====== */
/* ====== Header Section ====== */

.header__section {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;



    /* ====== Navigation Bar ====== */
    /* ====== Navigation Bar ====== */

    .nav__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 8vw;

        .nav__links {
            display: flex;
            align-items: center;
            gap: 32px;

            .link {
                color: var(--Text, #18303E);

                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: -0.21px;

                transition: .3s color;
            }

            .link.active,
            .link:hover {
                color: var(--primary-color, #BF3939);
            }
        }

        .menu {
            display: none;
        }

    }




    /* ====== Hero Section ====== */
    /* ====== Hero Section ====== */

    .hero__section {
        padding: 20px 10vw 20px 8vw;
        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        overflow-y: hidden;

        .hero__content {
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 40px;

            .hero__text {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 24px;

                .heading {
                    color: var(--primary-color, #BF3939);

                    >span {
                        color: var(--healing-green-50, #84CC16);
                    }
                }

                .paragraph {
                    max-width: 650px;
                    font-size: 20px;
                    color: var(--secondry-color);
                }
            }
        }

        .hero__img {
            position: relative;
            height: 80vh;

            .mainimg {
                height: 800px;
            }

            .mainimgnutrition {
                position: absolute;
                left: -105px;
                width: 250px;
                top: 320px;
                animation: leftright 2s 1;
            }

            .mainimgbp {
                position: absolute;
                right: -90px;
                width: 140px;
                top: 100px;
                animation: bottomtop 2s 1;
            }

            .mainimgdoctor {
                position: absolute;
                top: 50px;
                right: -6vw;
                width: 300px;
                animation: topbottom 2s 1;
            }
        }
    }




    /* ====== Scroll Down ====== */
    /* ====== Scroll Down ====== */

    .scroll__down {

        /* layout */

        padding: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        z-index: 1;
        position: absolute;
        bottom: 20px;
        left: 24px;

        /* style */

        border-radius: 12px;
        background: var(--osler-gray-10, #F5F5F5);

        >span {
            color: var(--osler-gray-80, #2F3C33);
            font-size: 12px;
        }
    }


}




/* ====== Header Section After Element ====== */
/* ====== Header Section After Element ====== */

.header__section::after {

    /* ====== Layout ====== */

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;

    /* ====== Style ====== */

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}




/* ====== About Section ====== */
/* ====== About Section ====== */

.about__section {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 48px;

    padding: 128px 8vw 26px 8vw;

    .about__content {
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: start;

        .heading {
            color: var(--primary-color);
        }

        .about__detail {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
        }

    }

    .about__img {
        >img {
            max-height: 500px;
        }
    }

}




/* ====== Feature Section ====== */
/* ====== Feature Section ====== */

.core__feature {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 96px;
    padding: 128px 6vw;

    .heading {
        color: var(--osler-gray-80, #2F3C33);
    }

    .feature__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6vw;

        .feature__content {
            display: flex;
            flex-direction: column;
            gap: 28px;
            align-items: start;

            .heading {
                color: var(--primary-color);
            }

            .feature__details {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .feature__point {
                    width: 186px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .point__heading {
                        color: var(--osler-gray-80, #2F3C33);
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 38px;
                        letter-spacing: -0.9px;

                        >span {
                            color: var(--remote-red-50, #F43F5E);
                        }
                    }

                    .point__text {
                        color: var(--osler-gray-60, #647067);
                        font-family: Nunito;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -0.36px;
                    }
                }
            }
        }

        .feature__img {
            >img {
                max-height: 500px;
            }
        }

    }

    .feature-2 {
        justify-content: space-between;

        .feature__content {
            .feature__details {
                width: 400px;
                flex-direction: column;
                gap: 12px;

                .feature__point {
                    width: 100%;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;

                    .point__heading {
                        color: var(--osler-gray-80, #2F3C33);
                        font-family: Nunito;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 32px;
                        letter-spacing: -0.72px;

                        >span {
                            color: var(--osler-gray-60, #647067);
                        }
                    }

                    .point__text {
                        color: var(--osler-gray-60, #647067);
                        font-size: 14px;
                        font-weight: 900;
                        letter-spacing: 1.4px;
                        text-transform: uppercase;
                    }
                }

                .feature__point:last-child {
                    border-radius: 4px;
                    background: var(--osler-gray-10, #F5F5F5);

                    >span {
                        height: 6px;
                        width: 80%;
                        border-radius: 3px;
                        background: var(--healing-green-50, #84CC16);
                    }
                }
            }
        }

    }

    .feature-3 {
        .feature__content {
            .feature__details {
                flex-direction: column;
                width: 100%;
                gap: 16px;

                .feature__point {
                    width: 100%;
                    flex-direction: row;
                }

            }

        }

    }

}




/* ====== Benefits Section ====== */
/* ====== Benefits Section ====== */

.benefits__section {

    /* layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    padding: 128px 6vw;
    gap: 48px;

    /* Style */

    border-radius: 180px;

    .btn-2 {
        border: 1px solid var(--osler-gray-white, #FFF);
        color: var(--osler-gray-white, #FFF);
    }

    .heading {
        color: var(--secondry-color, #18303E);
        text-align: center;
    }

    .benifits__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .card {

            /* Layout */

            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: start;
            padding: 32px;

            /* Style */

            border-radius: 64px;
            background: var(--osler-gray-white, #FFF);

            /* Card Shadow Gray80 5% */
            box-shadow: 0px 8px 21.5px 0px rgba(47, 60, 51, 0.16);

            >img {

                /* Layout */

                padding: 24px;

                /* Style */

                border-radius: 30px;

            }

            .greenicon {
                background: var(--healing-green-10, #ECFCCB);
            }

            .redicon {
                background: var(--remote-red-10, #FFE4E7);
            }

            .blueicon {
                background: var(--connectivity-blue-10, #EFF6FF);
            }

            .purpleicon {
                background: var(--caring-violet-10, #EDE9FE);
            }

            .blackicon {
                background: var(--osler-gray-10, #F5F5F5);
            }

            .small__text {
                color: var(--osler-gray-90, #1E2721);
                font-size: 24px;
                font-weight: 800;
                line-height: 32px;
                letter-spacing: -0.72px;
            }

            .paragraph {
                font-size: 20px;
            }
        }
    }
}




/* ====== Footer Section ====== */
/* ====== Footer Section ====== */

.footer__section {

    /* layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 112px 24px 24px 24px;
    position: relative;

    background-color: var(--primary-color);
    border-radius: 180px 180px 0px 0px;

    .footer__content {

        /* Layout */

        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;

        .paragraph {
            text-align: center;
            color: var(--osler-gray-white);
        }
    }

    .contact__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        width: 100%;

        .heading {
            color: var(--osler-gray-white, #FFF);
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;

            .text__area textarea,
            >input {
                width: 100%;
                padding: 24px 32px;
                gap: 10px;

                border: 0;
                outline: none;

                color: var(--primary-color, #BF3939);
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.36px;

                border-radius: 30px;
                background: var(--osler-gray-white, #FFF);

                resize: none;
            }

            .text__area textarea {
                height: 200px;
            }

            .text__area textarea::placeholder,
            >input::placeholder {
                color: var(--primary-color, #BF3939);
            }

            .text__area {
                position: relative;

                .btn {
                    position: absolute;
                    right: 10px;
                    bottom: 14px;
                }
            }
        }
    }

}































































/* ====== Media Queries ====== */
/* ====== Media Queries ====== */




/* ====== Media Queries (1348 / Small LED) ====== */

@media (max-width: 1348px) {




    /* ====== Mission Section ====== */
    /* ====== Mission Section ====== */

    .mission__section {
        .mission__content {
            .heading {
                max-width: 450px;
            }
        }
    }




    /* ====== Static Section ====== */
    /* ====== Static Section ====== */

    .static__section {

        .statics__cards {
            grid-template-columns: 1fr 1fr;
        }

        .statics__cards .card:last-child {
            grid-column: span 2;
        }

    }

    

    .about__section{
        
        .about__content{
            .heading{
                line-height: 140%;
                font-size: 42px;
            }
        }

        .about__img {
            >img {
                max-height: 400px;
            }
        }

    }

}




/* ====== Media Queries (1092 / Laptops) ====== */

@media (max-width: 1092px) {




    /* ====== Navbar Drop Section ====== */
    /* ====== Navbar Drop Section ====== */

    .drop__section {

        .drop__navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px;


            .nav__icon,
            .dropmenu__icon {

                /* ====== Layout ====== */

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 28px;

                /* ====== Style ====== */

                border-radius: 30px;
                border: 1px solid var(--osler-gray-white, #FFF);
                box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);

                >img {
                    height: 100%;
                }

            }

            .logo {
                >img {
                    border-radius: 30px;
                    padding: 22px;
                    background: var(--osler-gray-white, #FFF);
                }
            }
        }

        .drop__content {
            justify-content: center;

            .drop__links {
                align-items: center;
            }

            .pc__info {
                display: none;
            }
        }

        .drop__footer {
            justify-content: center;


            .extra__links {
                display: none;
            }

            .pc__icons {
                display: flex;
                align-items: center;
                gap: 24px;
            }
        }
    }




    /* ====== Header Section ====== */
    /* ====== Header Section ====== */

    .header__section {

        /* ====== Hero Section ====== */

        .hero__section {
            flex-direction: column;
            justify-content: center;
            gap: 64px;

            .hero__content {
                align-items: center;

                .hero__text {
                    align-items: center;

                    .paragraph,
                    .heading {
                        max-width: 750px;
                        text-align: center;
                    }

                    .paragraph {
                        max-width: 600px;
                    }

                }
            }

            .hero__img {
                .mainimgdoctor {
                    display: none;
                }

                .mainimgnutrition {
                    right: auto;
                    left: -50px;
                    top: auto;
                    bottom: 160px;
                }
            }

        }
    }




    /* ====== Mission Section ====== */
    /* ====== Mission Section ====== */

    .mission__section {
        padding: 96px 0;

        .mission__content {
            align-items: start;
            flex-direction: column-reverse;
            padding: 0 60px;

            .heading {
                max-width: 100%;
            }

            .mission__detail {
                flex-direction: column-reverse;

                .paragraph {
                    max-width: 100%;
                }
            }
        }
    }




    /* ====== Static Section ====== */
    /* ====== Static Section ====== */

    .static__section {
        padding: 96px 60px;
    }




    /* Services Section */
    /* Services Section */

    .services__section {
        padding: 128px 4vw;
    }




    /* ====== Feature Section ====== */
    /* ====== Feature Section ====== */

    .core__feature {

        .heading {
            text-align: center;
            max-width: 740px;
        }

        .feature__container {
            flex-direction: column-reverse;
            gap: 42px;

            .feature__content {
                align-items: center;

                .heading {
                    text-align: center;
                    max-width: 100%;
                }

                .paragraph {
                    max-width: 100%;
                    text-align: center;
                }

                .feature__details {
                    .feature__point {
                        align-items: center;
                    }
                }
            }

            .feature__img {
                >img {
                    max-height: auto;
                    width: 100%;
                }
            }
        }

        .feature-2 {
            flex-direction: column;
        }
    }




    /* ====== Benefits Section ====== */
    /* ====== Benefits Section ====== */

    .benefits__section {

        .benifits__cards {
            grid-template-columns: repeat(2, 1fr);
        }

    }




    /* ====== App Download Section ====== */
    /* ====== App Download Section ====== */

    .download__section {
        flex-direction: column-reverse;
        align-items: center;
        gap: 74px;

        .dowload__content {
            align-items: center;
            gap: 16px;

            .heading {
                text-align: center;
                width: 100%;
            }
        }

    }

}




/* ====== Media Queries (880 / Big Tabs) ====== */

@media (max-width: 880px) {

    .nav__bar {
        .nav__links {

            justify-content: center;

            flex-direction: column;

            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #F9EBEB;
            z-index: 9;
            left: 0;
            top: 0;

            display: none !important;

        }

        .menu {
            display: flex !important;
            flex-direction: column;
            width: 34px;
            align-items: end;
            cursor: pointer;
        }

        .menu span {
            background: var(--primary-color);
            border-radius: 10px;
            height: 3px;
            margin: 4px 0;
            transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        }

        .menu span:nth-of-type(1) {
            width: 50%;
        }

        .menu span:nth-of-type(2) {
            width: 100%;
        }

        .menu span:nth-of-type(3) {
            width: 75%;

        }

        .menu input[type="checkbox"] {
            display: none;
        }

        .menu input[type="checkbox"]:checked~span:nth-of-type(1) {
            transform-origin: bottom;
            transform: rotatez(45deg) translate(-8px, 10px)
        }

        .menu input[type="checkbox"]:checked~span:nth-of-type(2) {

            transform-origin: top;
            transform: rotatez(-45deg)
        }

        .menu input[type="checkbox"]:checked~span:nth-of-type(3) {
            transform-origin: bottom;
            width: 50%;
            transform: translate(0px, -8px) rotatez(45deg);
        }
    }


    .about__section{
        flex-direction: column-reverse;
    }




    /* ====== Benifits Section ====== */
    /* ====== Benifits Section ====== */

    .benefits__section {

        .benifits__cards {
            grid-template-columns: repeat(1, 1fr);
        }

    }




    /* ====== Footer Section ====== */
    /* ====== Footer Section ====== */

    .footer__section {

        .footer__left {
            left: -625px;
            padding: 116px;
        }

        .footer__right {
            padding: 116px;
            right: -625px;
        }

        .footer__icons {
            visibility: hidden;
        }

        .extra__links {
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            flex-direction: column;

            .dot {
                display: none;
            }
        }

        .footer__btns {
            flex-direction: column;
        }
    }
}




/* ====== Media Queries (532 / Small Tabs) ====== */

@media (max-width: 532px) {

    /* ====== components ====== */

    /* Button 2.0 */

    /* .btn-2{
        padding: 9px 16px;
    } */

    .header__section {
        .hero__section {

            .hero__content {

                .hero__text {
                    .heading {
                        line-height: 44px;
                        font-size: 36px;
                    }
                }

                .features {
                    flex-direction: column-reverse;
                    gap: 16px;
                }
            }

            .hero__img {

                .mainimgdoctor {
                    display: none;
                }

                .mainimgnutrition {
                    right: auto;
                    left: -50px;
                    top: auto;
                    bottom: 160px;
                }

                .mainimgbp {
                    width: 100px;
                    right: -10px;
                }
            }

        }
    }




    /* ====== Mission Section ====== */
    /* ====== Mission Section ====== */

    .mission__section {
        border-radius: 96px;

        .mission__content {
            padding: 0 16px;
        }
    }




    /* ====== Static Section ====== */
    /* ====== Static Section ====== */

    .static__section {
        padding: 96px 0;
    }




    /* Services Section */
    /* Services Section */

    .services__section {
        margin: 16px;
        border-radius: 96px;

        .services__title {
            flex-direction: column-reverse;
            align-items: center;

            .heading {
                font-size: 36px;
            }
        }

    }



    /* ====== Feature Section ====== */
    /* ====== Feature Section ====== */

    .core__feature {
        margin: 16px;
        gap: 48px;
        padding: 96px 0;

        .heading {

            font-size: 30px;
            font-weight: 800;
            line-height: 38px;
            letter-spacing: -0.9px;
        }

        .feature__container {
            gap: 32px;

            .feature__content {
                .paragraph {
                    font-size: 16px;
                    line-height: 160%;
                    /* 25.6px */
                    letter-spacing: -0.16px;
                }
            }

            .feature__img {
                >img {
                    max-width: 320px;
                }
            }
        }

        .feature-2 {
            .feature__content {
                .feature__details {
                    max-width: 300px;
                }
            }
        }
    }




    /* ====== Benifits Section ====== */
    /* ====== Benifits Section ====== */

    .benefits__section {
        padding: 96px 0;
        border-radius: 96px;
        margin: 16px;
    }




    /* ====== Download App Section ====== */
    /* ====== Download App Section ====== */

    .download__section {
        padding: 64px 0;
        border-radius: 96px;
        margin: 16px;

        .dowload__img {
            transform: scale(1.2);
        }

        .dowload__content {
            .heading {
                font-size: 36px;
            }
        }
    }
}























@keyframes leftright {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}


@keyframes topbottom {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}


@keyframes bottomtop {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}