/* ====== Google Fonts ====== */
/* ====== Google Fonts ====== */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');




/* ====== Reset & Universal ====== */
/* ====== Reset & Universal ====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}




/* ====== HTML & BODY ====== */
/* ====== HTML & BODY ====== */

html,
body {
    width: 100%;
    height: 100%;
    background: var(--osler-gray-white);
    scroll-behavior: smooth;
}




/* ====== Selection ====== */
/* ====== Selection ====== */

::selection {
    background-color: var(--healing-green-40);
}




/* ====== Variables ====== */
/* ====== Variables ====== */

:root {

    /* ====== Osler ====== */

    --osler-gray-100: #111A14;
    --osler-gray-90: #1E2721;
    --osler-gray-80: #2F3C33;
    --osler-gray-70: #48524B;
    --osler-gray-60: #647067;
    --osler-gray-50: #849087;
    --osler-gray-40: #A2A9A4;
    --osler-gray-30: #C5C8C6;
    --osler-gray-20: #E3E4E3;
    --osler-gray-10: #F5F5F5;
    --osler-gray-white: #FFFFFF;

    /* ====== Healing Green ====== */

    --healing-green-100: #1A2E05;
    --healing-green-90: #365314;
    --healing-green-80: #3E6212;
    --healing-green-70: #4D7C0F;
    --healing-green-60: #65A30D;
    --healing-green-50: #84CC16;
    --healing-green-40: #A3E635;
    --healing-green-30: #BEF264;
    --healing-green-20: #D9F99D;
    --healing-green-10: #ECFCCB;

    /* ====== Remote Red ====== */

    --remote-red-100: #4C050B;
    --remote-red-90: #88131F;
    --remote-red-80: #9F1222;
    --remote-red-70: #BE1229;
    --remote-red-60: #E11D3A;
    --remote-red-50: #F43F5E;
    --remote-red-40: #FB7185;
    --remote-red-30: #FDA4B0;
    --remote-red-20: #FECDD3;
    --remote-red-10: #FFE4E7;

    /* ====== Sunshine Yellow ====== */

    --sunshine-yellow-100: #422006;
    --sunshine-yellow-90: #713F12;
    --sunshine-yellow-80: #854D0E;
    --sunshine-yellow-70: #A16207;
    --sunshine-yellow-60: #CA8A04;
    --sunshine-yellow-50: #EAB308;
    --sunshine-yellow-40: #FACC15;
    --sunshine-yellow-30: #FDE047;
    --sunshine-yellow-20: #FEF08A;
    --sunshine-yellow-10: #FEF9C3;

    /* ====== Caring Violet ====== */

    --caring-violet-100: #311065;
    --caring-violet-90: #491D95;
    --caring-violet-80: #5521B6;
    --caring-violet-70: #6328D9;
    --caring-violet-60: #733AED;
    --caring-violet-50: #8B5CF6;
    --caring-violet-40: #A98AF966;
    --caring-violet-30: #C4B5FD;
    --caring-violet-20: #DDD6FE;
    --caring-violet-10: #EDE9FE;

    /* ====== Connectivity Blue ====== */

    --connectivity-blue-100: #172554;
    --connectivity-blue-90: #1E3A8A;
    --connectivity-blue-80: #1E40AF;
    --connectivity-blue-70: #1D4ED8;
    --connectivity-blue-60: #3B82F6;
    --connectivity-blue-50: #60A5FA;
    --connectivity-blue-40: #93C5FD;
    --connectivity-blue-30: #BFDBFE;
    --connectivity-blue-20: #DBEAFE;
    --connectivity-blue-10: #EFF6FF;

}




/* ====== Components ====== */
/* ====== Components ====== */

/* ====== Button ====== */

.btn {

    /* layout */
    padding: 20px 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    /* style */

    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);

    color: var(--osler-gray-white, #FFF);
    font-size: 18px;
}

/* ====== Small Text ====== */

.small__text {
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

/* ====== Paragraph ====== */

.paragraph {
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 38.4px */
    letter-spacing: -0.24px;
    max-width: 480px;
}

/* ====== Heading ====== */

.heading {
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    /* 113.333% */
    letter-spacing: -1.8px;
    max-width: 680px;

    >span {
        color: var(--healing-green-50, #84CC16);
    }
}




/* ====== Header Section ====== */
/* ====== Header Section ====== */

.header__section {
    min-height: 100vh;
    background: url(../images/HeroSection/herosection.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;



    /* ====== Navigation Bar ====== */
    /* ====== Navigation Bar ====== */

    .nav__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;

        .nav__icon,
        .menu__icon {

            /* ====== Layout ====== */

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 28px;

            /* ====== Style ====== */

            border-radius: 30px;
            background: var(--osler-gray-white, #FFF);
            box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);

            >img {
                height: 100%;
            }

        }

        .logo {
            >img {
                border-radius: 30px;
                background: var(--healing-green-50, #84CC16);
            }
        }
    }




    /* ====== Hero Section ====== */
    /* ====== Hero Section ====== */

    .hero__section {
        padding: 20px 10vw 20px 8vw;
        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        overflow-y: hidden;

        .hero__content {
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 40px;

            .hero__text {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 24px;

                .heading {
                    color: var(--osler-gray-80, #2F3C33);

                    >span {
                        color: var(--healing-green-50, #84CC16);
                    }
                }

                .paragraph {
                    color: var(--osler-gray-60, #647067);
                }
            }

            .features {
                display: flex;
                align-items: center;
                gap: 48px;

                .feature {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    >span {
                        color: var(--osler-gray-60, #647067);
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .hero__img {
            position: relative;
            height: 80vh;

            .mainimg {
                height: 800px;
            }

            .mainimgnutrition {
                position: absolute;
                right: -65px;
                width: 150px;
                top: 320px;
                animation: leftright 1s 1;
            }

            .mainimgbp {
                position: absolute;
                right: -90px;
                width: 140px;
                top: 100px;
                animation: bottomtop 1s 1;
            }

            .mainimgdoctor {
                position: absolute;
                bottom: 250px;
                left: -100px;
                width: 350px;
                animation: topbottom 1s 1;
            }
        }
    }




    /* ====== Scroll Down ====== */
    /* ====== Scroll Down ====== */

    .scroll__down {

        /* layout */

        padding: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        z-index: 1;
        position: absolute;
        bottom: 20px;
        left: 24px;

        /* style */

        border-radius: 12px;
        background: var(--osler-gray-10, #F5F5F5);

        >span {
            color: var(--osler-gray-80, #2F3C33);
            font-size: 12px;
        }
    }


}




/* ====== Header Section After Element ====== */
/* ====== Header Section After Element ====== */

.header__section::after {

    /* ====== Layout ====== */

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;

    /* ====== Style ====== */

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}




/* ====== Mission Section ====== */
/* ====== Mission Section ====== */

.mission__section {

    /* layout */

    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 128px 0;
    margin: 24px;

    /* style */

    border-radius: 180px;
    background: var(--osler-gray-80, #2F3C33);

    .mission__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 118px;
        gap: 24px;

        .mission__detail {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .btn {
                background-color: var(--healing-green-50, #84CC16);
                width: fit-content;
                padding: 16px 24px;
            }

            .paragraph {
                color: var(--osler-gray-20, #E3E4E3);
            }
        }

        .heading {
            font-size: 48px;
            color: var(--osler-gray-white, #FFF);
        }

    }

    .companies__slider {
        display: flex;
        flex-direction: column;
        gap: 24px;


        .swiper {
            width: 100%;

            .infinite__slider {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 24px;
                justify-content: space-between;
                scrollbar-width: none;

                .company__img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 56px;
                    width: 100%;
                    height: 136px;
                    transition: .3s background-color;
                    padding: 0 24px;

                    .companyimg {
                        transition: .3s fill;
                        width: 150px;
                        fill: var(--osler-gray-60);
                    }
                }

                .company__img:hover {
                    background-color: var(--osler-gray-60);

                    .companyimg {
                        fill: var(--osler-gray-white);
                    }
                }

            }

            .infinite__slider::-webkit-scrollbar {
                height: 0;
            }
        }
    }

}




/* ====== Infinite Slider of Mission Section  ====== */
/* ====== Infinite Slider of Mission Section  ====== */

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 40s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}




/* ====== Statics Section ====== */
/* ====== Statics Section ====== */

.static__section {

    /* layout */

    margin: 24px;
    padding: 128px 118px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;

    /* style */

    border-radius: 180px;
    background: var(--healing-green-50, #84CC16);

    .heading {
        color: var(--osler-gray-white);
    }

    .statics__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;

        .card {

            /* Layout */

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 38px;
            width: 100%;

            /* Style */

            border-radius: 64px;
            background: var(--osler-gray-white, #FFF);
            box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);

            .static__number {
                color: var(--osler-gray-80, #2F3C33);

                /* Heading 2xl/ExtraBold */
                font-family: Nunito;
                font-size: 72px;
                font-style: normal;
                font-weight: 800;
                line-height: 80px;
                /* 111.111% */
                letter-spacing: -2.16px;

                >span {
                    color: var(--healing-green-50, #84CC16);
                }
            }

            .static__detail {
                display: flex;
                align-items: center;
                gap: 8px;

                >img {
                    width: 24px;
                }

                >span {
                    color: var(--osler-gray-80, #2F3C33);
                    font-size: 24px;
                    font-weight: 600;
                }
            }

        }
    }

}

















































































/* ====== Media Quries ====== */
/* ====== Media Quries ====== */




/* ====== Media Quries (1348 / Small LED) ====== */

@media (max-width: 1348px) {




    /* ====== Mission Section ====== */


    .mission__section {
        .mission__content {
            .heading {
                max-width: 450px;
            }
        }
    }

    /* ====== Static Section ====== */

    .static__section {

        .statics__cards {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .card:last-child {
                grid-column: 1;
                grid-column-end: 3;
            }
        }

    }
}




/* ====== Media Quries (1092 / Laptops) ====== */

@media (max-width: 1092px) {




    /* ====== Header Section ====== */

    .header__section {

        /* ====== Hero Section ====== */

        .hero__section {
            flex-direction: column;
            justify-content: center;
            gap: 64px;

            .hero__content {
                align-items: center;

                .hero__text {
                    align-items: center;

                    .paragraph,
                    .heading {
                        max-width: 750px;
                        text-align: center;
                    }

                    .paragraph {
                        max-width: 600px;
                    }

                }
            }

            .hero__img {
                .mainimgdoctor {
                    display: none;
                }

                .mainimgnutrition {
                    right: auto;
                    left: -50px;
                    top: auto;
                    bottom: 160px;
                }
            }

        }
    }




    /* ====== Mission Section ====== */

    .mission__section {
        padding: 96px 0;

        .mission__content {
            align-items: start;
            flex-direction: column-reverse;
            padding: 0 60px;

            .heading {
                max-width: 100%;
            }

            .mission__detail {
                flex-direction: column-reverse;

                .paragraph {
                    max-width: 100%;
                }
            }
        }
    }




    /* ====== Static Section ====== */

    .static__section {
        padding: 96px 60px;

        .statics__cards {
            display: grid;
            grid-template-columns: 1fr;

            .card:last-child {
                grid-column: 1;
                grid-column-end: 2;
            }
        }
    }

}




/* ====== Media Quries (532 / Small Tabs) ====== */

@media (max-width: 532px) {

    .header__section {
        .hero__section {

            .hero__content {

                .hero__text {
                    .heading {
                        line-height: 44px;
                        font-size: 36px;
                    }
                }

                .features {
                    flex-direction: column-reverse;
                    gap: 16px;
                }
            }

            .hero__img {

                .mainimgdoctor {
                    display: none;
                }

                .mainimgnutrition {
                    right: auto;
                    left: -50px;
                    top: auto;
                    bottom: 160px;
                }

                .mainimgbp {
                    width: 100px;
                    right: -10px;
                }
            }

        }
    }




    /* ====== Mission Section ====== */

    .mission__section {
        border-radius: 96px;

        .mission__content {
            padding: 0 16px;
        }
    }




    /* Statics Section */

    .static__section {
        border-radius: 96px;
        padding: 96px 16px;

        .heading{
            text-align: center;
        }

        .statics__cards{
            .card{
                padding: 64px 32px;

                .static__detail{
                    .small__text{
                        font-size: 18px;
                    }
                }
            }
        }
    }

}




/* ====== Media Quries (532 / Small Tabs) ====== */




















/* 


@keyframes leftright {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}


@keyframes topbottom {
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}


@keyframes bottomtop {
    0%{
        transform: translateY(-40px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
} */